
 {% extends "base.html" %}
{% block content %}
           
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        	<ul><a></a></ul>
          <ul class="nav nav-sidebar">
          	<h3><span class="label label-primary">My Profile</span></h3>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

		<form method="POST">{%csrf_token%}
		{{form.as_p}}
		
		<input class="btn" type='submit' value='Submit'></input>
		</form>
        <p></p>
		<input class="btn" type='submit' value="Change Password" onclick="location.href='../changePassword';"/>
		


 {% endblock content %}
   